@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

/* 우측 상단 메뉴바 숨기기 */
#tistorytoolbarid { display: none; }

* {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* 데스크 탑 및 고해상도 */
.container {
  font-family: 'NanumGothic', 'Open Sans', 'Malgun Gothic';
  padding-right: 25px;
  padding-left: 25px;
  font-size: 1.3em;
  max-width: 780px;
  margin: 0 auto;
  line-height: 1.6em;
  border: 1px solid;
}

.container a {
  cursor: pointer;
}

.container a:hover {
  border-bottom: 1px dotted;
  font-weight: bold;
  text-decoration: none;
}

/* (s) header */
header {
  margin-top: 70px; margin-bottom: 30px;
}

header .site-title a:hover {
  border-bottom: none;
}

/* (e) header */

/* (s) Adsense */
#top-adsense {
  text-align: center;
  margin: 0 auto;
}
@media(max-width: 500px) { 
  #top-adsense div:first-child { padding-left: 0px; padding-right: 0; }
}

.top-left-adsense { width: 336px; height: 280px; border: 1px solid; }
@media(max-width: 500px) { 
  .top-left-adsense { width: 320px; height: 50px; } }

.top-right-adsense { width: 336px; height: 280px; border: 1px solid; }
@media(max-width: 767px) { 
  .top-right-adsense { width: 320px; height: 50px; } 
  #top-right-adsense { display: none; }
}

.my_adslot { width: 728px; height: 90px; }
@media(max-width: 500px) { .my_adslot { width: 320px; height: 50px; } }
/* (e) Adsense */

/* (s) article-category */
.article-category {
  width: 320px;
  text-align: center;
  margin: 0 auto;
  font-size: 0.6em;
}

.article-category, .article-category a {
  color: #999 !important;
}

/* (e) article-category */

/* iPad 가로 */
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
    font-size: 1.5em;
  }

  .container .header {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

/* 스마트 폰 및 iPad 가로 */
@media only screen and (max-width: 768px) {
  .container {
    font-size: 1.26em;
    width: 100%;
  }

  .container .header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}